$primario: rgb(255, 255, 255);
$secundario:#0000EC;
$terciario:#060A24;
$boton: #00F3BB;
$gradient:linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$gradientboton:linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);